@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --navbar-height: 4rem;
  --screen-height: calc(100vh - var(--navbar-height));
}

input {
  background-color: black;
}